<table class="table table-striped table-sm shadow p-3">
  <thead>
    <tr>
      <th scope="col"></th> <!-- # -->
      <th scope="col"></th> <!-- Image -->
      <th scope="col">Name</th>
      <th scope="col">Data Center</th>
      <th scope="col">Server</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'row', collection: @results.first(10), as: :character %>
    <% if @character.present? && @ranks.index(@character.id).try(:>, 9) %>
      <%= render 'row', character: @character, my_rankings: true %>
    <% end %>
  </tbody>
</table>
