<div class="d-flex flex-column deck-card" data-card-id="<%= card.id %>">
  <div class="card-large" data-toggle="tooltip" title="<%= card.name %>">
    <%= sprite(card, 'cards-large') %>
  </div>
</div>
