<% title('Mod Dashboard') %>

<div class="card shadow mb-3">
  <h5 class="card-header">
    <%= link_to 'Manage Collectables', mod_dashboard_path, class: 'unstyled' %>
  </h5>
  <div class="card-body">
    <div class="d-flex flex-wrap justify-content-center">
      <% [Mount, Minion, Orchestrion, Emote, Barding, Hairstyle, Armoire, Spell, Fashion, Frame, Record, SurveyRecord]
        .each do |model| %>
        <%= link_to model.to_s.pluralize.titleize, polymorphic_url([:mod, model]), class: 'btn btn-secondary mx-1 my-2' %>
      <% end %>
    </div>
  </div>
</div>
<div class="card shadow">
  <h5 class="card-header">Changelog</h5>
  <div class="card-body card-table">
    <%= render 'change_table', changes: @changes %>
  </div>
  <div class="card-footer d-flex justify-content-center mb-0">
    <%= will_paginate(@changes) %>
  </div>
</div>
