<div class="d-flex flex-column stats">
  <div class="d-flex justify-content-center">
    <span><%= card.stat(:top) %></span>
  </div>
  <div class="d-flex justify-content-around">
    <span><%= card.stat(:left) %></span>
    <span><%= card.stat(:right) %></span>
  </div>
  <div class="d-flex justify-content-center">
    <span><%= card.stat(:bottom) %></span>
  </div>
</div>
