<%= render 'shared/simple_collectable', collectable: @barding %>
<div class="row mt-2">
  <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
    <%= render 'shared/screenshots', collectable: @barding %>
  </div>
</div>
