<% if character_selected? %>
  <div class="my-2">
    <%= render 'shared/progress', value: (collection.map(&:id) & @collection_ids).size,
      min: 0, max: collection.length %>
    <% if @comparison.present? %>
      <div class="mt-1">
        <%= render 'shared/progress', value: (collection.map(&:id) & @comparison_ids).size,
          min: 0, max: collection.length, alt: true %>
      </div>
    <% end %>
  </div>
<% end %>
