<% if character_selected? %>
  <div class="mb-2">
    <%= render 'shared/progress', value: (ids & @collection_ids).size, min: 0, max: ids.size %>
    <% if @comparison.present? %>
      <div class="mt-1">
        <%= render 'shared/progress', value: (ids & @comparison_ids).size, min: 0, max: ids.size, alt: true %>
      </div>
    <% end %>
  </div>
<% end %>
