<div>
  <dt>
    <%= t('owned') %>
    <span data-toggle="tooltip" title="Active public characters who own this <%= collectable.class.to_s.downcase %>.">
      <%= fa_icon('question-circle') %>
  </dt>
  <dd><%= rarity(collectable) %></dd>
</div>
