<div>
  <dt>
    <%= t :'general.owned' %>
    <span data-toggle="tooltip" title="<%= t('tooltip.ownership', collectable: t("general.#{collectable.class.to_s.downcase}.one")) %>."/>
      <%= fa_icon('question-circle') %>
  </dt>
  <dd><%= rarity(collectable) %></dd>
</div>
