<div class="row">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div class="image-small">
            <%= sprite(collectable, collectable.class.to_s.downcase) %>
          </div>
          <h5 class="card-title mx-2"><%= collectable.name %></h5>
        </div>
        <h5 class="mb-0"><%= collectable.patch %></h5>
      </div>
      <div class="card-body py-3">
        <dt>Source</dt>
        <dd class="mb-0"><%= sources(collectable, list: true) %></dd>
      </div>
    </div>
  </div>
</div>
