<% title('Dark Helmet') %>
<% description('How many years have come and gone since that day? How many years have I waited for this minion? For the one that stood alone against the Flock?') %>
<% image(image_url('minions/dark_helmet.png')) %>

<div class="card-body text-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cE0wfjsybIQ?start=75&autoplay=1" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
