<% title(@minion.name) %>
<% description(@minion.enhanced_description.truncate(150)) %>
<% image(image_url("minions/small/#{@minion.id}.png", skip_pipeline: true)) %>

<% if @variants.present? %>
  <div class="row mb-3">
    <div class="col-12 col-lg-10 offset-lg-1">
      <%= render 'info', minion: @minion %>
    </div>
  </div>
  <div class="row">
    <% @variants.each do |variant| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0 mx-auto">
        <%= render 'verminion', minion: variant, variant: true %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-7 offset-md-1 offset-lg-0 mb-3 mb-lg-0">
      <%= render 'info', minion: @minion %>
    </div>
    <div class="col-12 col-md-10 col-lg-5 offset-md-1 offset-lg-0">
      <%= render 'verminion', minion: @minion %>
    </div>
  </div>
<% end %>
