<% title(@minion.name) %>
<% description(@minion.enhanced_description.truncate(150)) %>
<% image(image_url("minions/large/#{@minion.id}.png", skip_pipeline: true)) %>

<% if @variants.present? %>
  <div class="row mb-3">
    <div class="col-12 col-xl-8 offset-xl-2">
      <%= render 'info', minion: @minion %>
    </div>
  </div>
  <div class="row">
    <% @variants.each do |variant| %>
      <div class="col-12 col-lg-6 col-xl-4 mb-3 mb-xl-0 mx-auto">
        <%= render 'verminion', minion: variant, variant: true %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-12 col-xl-7 mb-3 mb-xl-0">
      <%= render 'info', minion: @minion %>
    </div>
    <div class="col-12 col-xl-5">
      <%= render 'verminion', minion: @minion %>
    </div>
  </div>
<% end %>
