<% if @rankings[category].values.any? %>
  <ul class="list-unstyled list-inline m-0">
    <% %i(server data_center global).each do |context| %>
      <li class="list-inline-item">
        <%= rankings_link(@rankings, @profile, category, context) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="mt-2"></div>
<% end %>
