<% title('Character Search') %>
<% description('Search for a character to track.') %>

<div class="row">
  <div class="col-12 col-md-6 col-lg-5 offset-lg-1 mb-3 mb-md-0 <%= ' mx-auto' unless @characters.present? %>">
    <%= render 'form' %>
  </div>
  <% if @characters.present? %>
    <div class="col-12 col-md-6 col-lg-5">
      <%= render 'results' %>
    </div>
  <% end %>
</div>
