<% title("#{@profile.name} (#{@profile.server}) - Most Recent") %>
<% description('Character Stats') %>
<% image(@profile.avatar) %>

<div class="row">
  <div class="col-12">
    <%= render 'statistics_profile' %>

    <div class="text-center">
      <div class="btn-group">
        <%= button_tag t('characters.recent'), class: 'btn btn-secondary active', disabled: true %>
        <%= link_to t('characters.rarest'), stats_rarity_character_path(@profile), class: 'btn btn-secondary' %>
      </div>
    </div>

    <%= render 'statistics' %>
  </div>
</div>
