a > .card {
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.achievement-icon {
  width: 40px;
  height: 40px;
}

img.achievement-icon {
  width: 40px;
  height: 40px;
  background: url(asset_path('achievements.png')) no-repeat;
}

.complete {
  color: #FFD700;
}

.count .progress .progress-bar {
  background-color: #5C6E8E;
}

.points .progress .progress-bar {
  background-color: #917D54;
}
