a > .card {
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.complete {
  color: #FFD700;
}

.progress .progress-bar.alt {
  background-color: #917D54;
}

th.reward {
  min-width: 50px;
}
