.character-select {
  > div {
    padding: 0.75rem;
    border-bottom: 1px solid #eee;

    &:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:last-child {
      border-bottom: none;
    }

  }

  &.disabled {
    a {
      pointer-events: none;
      opacity: 0.8;
    }
  }

  .character-name {
    width: 250px;
    padding-right: 0.5rem;

    // Below lg
    @media (max-width: 1199px) {
      width: 150px;
    }
  }

  .select-options {
    margin-left: auto;

    a {
      margin: 0.25rem 0;
    }
  }
}

.menu-character {
  color: #eee;
}

.topbar .dropdown-menu .menu-character a {
  padding: inherit;
}

.avatar-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

div.portrait {
  min-width: 308px;
  min-height: 420px;

  img {
    width: 308px;
    height: 420px;
    border-radius: 3%;
  }
}

.profile-buttons a {
  margin: 0.25rem 0;
}

.profile-progress {
  width: 50% !important;
  padding-right: 1rem !important;
  margin-top: 1rem !important;
}

.avatar.faded {
  opacity: 0.2;
}

.statistics {
  .card {
    margin-bottom: 1rem;
    width: 100% !important;

    // md only
    @media (min-width: 992px) and (max-width: 1199px) {
      width: 45% !important;
    }

    // lg+
    @media (min-width: 1200px) {
      width: 32% !important;
    }
  }

  .spell-sprite img {
    width: 40px;
    height: 40px;
  }

  img.hairstyle-small {
    width: 40px;
    height: 40px;
  }

  img {
    min-width: 40px;
  }
}
