.character-select {
  a {
    padding: 0.75rem;
    border-bottom: 1px solid #eee;

    &:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.2)
    }

    &:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.1)
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  a:last-child {
    border-bottom: none;
  }
}

.current-character {
  color: #eee;
  .updated {
    color: rgba(255, 255, 255, 0.7);
  }
}
