@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(asset_path('noto_sans_cjk_jp.otf')) format('opentype');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  margin-bottom: 40px;
}

.ja {
  font-family: 'Noto Sans CJK JP'
}

// Below sm
@media (max-width: 575px) {
  .hide-xs {
    display: none;
  }
}

// Below md
@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 24px;
}

a {
  color: #eee;
  text-decoration: underline;

  &:hover {
    color: #fff;
  }
}

a.nav-link {
  text-decoration: none;
}

a.sort_link i {
  padding-left: 4px;
}

a.name, a.btn {
  text-decoration: none;
}

a.bold {
  font-weight: bold;
}

.btn, .btn:hover {
  color: #eee;
  a {
    cursor: pointer;
  }
}

a.unstyled {
  text-decoration: none;
}

.btn.btn-dark {
  background-color: #292929;
  border-color: #282828;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:not(:disabled) {
    &:active, &.active {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

label, input[type="checkbox"] {
  cursor: pointer;
}

hr {
  border-top: 1px solid rgba(233, 233, 233, 0.1);
  margin-left: 0;
  margin-right: 0;
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
  text-align: left;
}

.navbar-dark {
  background-color: #222;

  .dropdown-toggle img {
    margin-right: 0.5rem;
  }

  .dropdown-menu {
    background-color: #292929;
    white-space: nowrap;

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      &:hover, &:focus {
        color: #fff;
        background-color: inherit;
      }
    }

    .dropdown-divider {
      border-top: 1px solid #bbb;
      margin: 0.3rem 0;
    }
  }

  .dropdown-item > .fa {
    width: 1.5rem;
    text-align: center;
  }
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
}

.fa-external-link {
  font-size: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-striped tbody tr:nth-of-type(even), thead {
  background-color: rgba(0, 0, 0, 0.2)
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1)
}

.table {
  color: #eee;

  th, td {
    vertical-align: middle;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  thead th {
    border-bottom: 2px solid #888;
  }

  td:first-child, th:first-child {
    padding-left: 0.5rem;
  }

  td:last-child, th:last-child {
    padding-right: 1rem;
  }
}

.card {
  background-color: #333;

  .card-header {
    background-color: rgba(0, 0, 0, 0.4);

    h5, h6 {
      margin-bottom: 0;
    }
  }

  .card-body {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card-table {
    background-color: #333;
    padding: 0;

    table {
      margin-bottom: 0;

      tr:first-child td {
        border-top: none;
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
  }

  .card-footer {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.form {
  label {
    margin-right: 0.5rem;
  }

  input.form-control, select.form-control {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #555;
    color: #eee;

    &::placeholder {
      color: #ccc;
    }

    &:active, &:focus {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.01);
      border-color: #777;
    }

    optgroup {
      background-color: #1F1F1F;
      color: #eee;
    }

    option {
      background-color: #292929;
      color: #eee;
    }
  }

  .input-group-text {
    background-color: rgba(0, 0, 0, 0.1);
    color: #eee;
    border-color: #555;
  }
}

.pagination {
  margin-bottom: 0;

  .page-link, .page-item.disabled .page-link, .page-item.active .page-link {
    background: rgba(0, 0, 0, 0.1);
    color: #eee;
    text-decoration: none;
    border: 1px solid #bbb;

    &:hover {
      text-decoration: underline;
    }

    &:active, &:focus {
      box-shadow: none;
    }
  }

  .page-item.active {
    background: rgba(0, 0, 0, 0.15);
    font-weight: bold;
  }

  .page-item.disabled {
    opacity: 0.6;
  }
}

.progress {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 1.25rem;

  .progress-bar {
    background-color: #5C6E8E;
    color: #eee;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
}

pre {
  color: #e83e8c;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  white-space: pre-wrap;
}

.tooltip-inner {
  text-align: center;
}

input[type="checkbox"] {
  margin-top: 1px;
}

.search-form {
  display: inline-block;

  input, select {
    margin-right: 1rem;
  }

  @media (max-width: 575px) {
    select, input, .form-check {
      margin-top: 0.5rem;
    }
  }
}

.flex-info {
  z-index: 2;

  > dt {
    margin-top: 0.5rem;
  }

  .d-flex div:not(:last-child) {
    margin-right: 2rem;
  }
}

.category-buttons {
  button:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.hidden {
  display: none;
}

.alert a {
  color: inherit;
}

.owned {
  td, div {
    opacity: 0.4;
  }
}

table.sortable > thead th:not([data-defaultsort=disabled]) {
  &:hover {
    background: none;
    cursor: pointer;
  }

  .sign.arrow {
    position: relative;
    display: inline;
    margin: 0 0 0 0.5rem;

    &.up {
      bottom: 0.5rem;
    }
  }
}

th.name {
  width: 220px;
}

th.category {
  width: 150px;
}

.image-small {
  width: 40px;
  height: 40px;
}

.image-large {
  width: 192px;
  height: 192px;
}

.font-small {
  font-size: 0.8rem;
}

i.delete:hover {
  color: #dc3545;
}
