@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url(asset_path('noto_sans_cjk_jp.otf')) format('opentype');
}

:root {
  color-scheme: dark;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #333;
  color: #eee;
  margin-bottom: 72px;

  @media (max-width: 575px) {
    margin-bottom: 96px;
  }
}

.ja {
  font-family: 'Noto Sans CJK JP'
}

// Below sm
@media (max-width: 575px) {
  .hide-xs {
    display: none;
  }

  .pagination li {
    display: none;

    &:first-child, &:last-child, &.active {
      display: inline;
    }
  }
}

// Below md
@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .hide-sm {
    display: none;
  }
}

// Below lg
@media (max-width: 1199px) {
  .hide-md {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 8px;
  padding-left: 280px;
  padding-right: 30px;
  width: 100%;

  @media (max-width: 767px) {
    padding-left: 30px;
  }
}

a {
  color: #eee;
  text-decoration: underline;

  &:hover {
    color: #fff;
  }
}

a.nav-link {
  text-decoration: none;
}

a.sort_link i {
  padding-left: 4px;
}

a.name, a.btn {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.btn, .btn:hover {
  color: #eee;
  a {
    cursor: pointer;
  }
}

.item.own {
  cursor: pointer;
}

a.unstyled {
  text-decoration: none;
}

span.unstyled > a {
  text-decoration: none;
}

.btn.btn-dark {
  background-color: #292929;
  border-color: #282828;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:not(:disabled) {
    &:active, &.active {
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.btn-group .btn:disabled {
  opacity: 1;
  background-color: #545b62;
  border-color: #4e555b;
}

label, input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-filter: grayscale(100%);
  color-scheme: light;
}

hr {
  border-top: 1px solid rgba(233, 233, 233, 0.1);
  margin-left: 0;
  margin-right: 0;
}

.tooltip-inner {
  max-width: 400px;
  text-align: left;
}

.fa-external-link-alt {
  font-size: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table.table-bordered {
  border-color: #191919;

  th, td {
    border-color: #191919;
    border-width: 2px;
  }

  td:first-child, th:first-child {
    padding-left: 0.3rem;
  }

  td:last-child, th:last-child {
    padding-right: 0.3rem;
  }

  &.table-responsive {
    border: 0;
  }
}

.table-clickable tbody tr {
  cursor: pointer;

  &.active {
    background-color: rgba(0, 80, 80, 0.2) !important;
  }
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1)
}

.table-striped tbody tr:nth-of-type(even), thead {
  background-color: rgba(0, 0, 0, 0.2)
}

.table tbody tr th {
  background-color: rgba(0, 0, 0, 0.2)
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1)
}

.table {
  color: #eee;
  margin-bottom: 0;

  th, td {
    vertical-align: middle;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  thead th {
    border-bottom: 2px solid #888;
  }

  td:first-child, th:first-child {
    padding-left: 0.5rem;
  }

  td:last-child, th:last-child {
    padding-right: 1rem;
  }

  &.collection {
    margin: 0 auto;
    width: auto;

    @media (max-width: 575px) {
      min-width: 90vw;
    }

    @media (min-width: 576px) {
      min-width: calc(70vw - 59px);
    }

    @media (min-width: 1921px) {
      min-width: calc(60vw - 59px);
    }

    thead th, tbody td {
      width: auto;
    }
  }

  &.fill {
    min-width: auto;
    width: 100%;
  }

  &.compact {
    margin: 0 auto;
    width: auto;

    @media (min-width: 1000px) {
      min-width: 750px;
    }
  }
}

.table:not(.table-sm) {
  th {
    padding: 0.25rem 0.5rem;
  }

  td {
    padding: 0.5rem;
  }
}

td.wide {
  // Above md
  @media (min-width: 992px) {
    width: 300px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 350px;
  }
}

.card, .modal-content {
  background-color: #333;

  .card-header, .modal-header {
    background-color: rgba(0, 0, 0, 0.4);

    h5, h6 {
      margin-bottom: 0;
    }
  }

  .card-body, .modal-body {
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .card-table {
    background-color: #333;
    padding: 0;

    table {
      margin-bottom: 0;

      tr:first-child td {
        border-top: none;
      }

      tr:last-child td {
        border-bottom: none;
      }

      &.collection.compact {
        min-width: 100%;
      }
    }
  }

  .card-footer, .modal-footer {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.borderless {
  border: none;
}

.form {
  label {
    margin-right: 0.5rem;
  }

  input.form-control, select.form-control, textarea.form-control {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #555;
    color: #eee;

    &::placeholder {
      color: #ccc;
    }

    &:active, &:focus {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.01);
      border-color: #777;
    }

    optgroup {
      background-color: #1F1F1F;
      color: #eee;
    }

    option {
      background-color: #292929;
      color: #eee;
    }
  }

  .input-group-text {
    background-color: rgba(0, 0, 0, 0.1);
    color: #eee;
    border-color: #555;
  }
}

.pagination {
  margin-bottom: 0;

  .page-link, .page-item.disabled .page-link, .page-item.active .page-link {
    background: rgba(0, 0, 0, 0.1);
    color: #eee;
    text-decoration: none;
    border: 1px solid #bbb;

    &:hover {
      text-decoration: underline;
    }

    &:active, &:focus {
      box-shadow: none;
    }
  }

  .page-item.active {
    background: rgba(0, 0, 0, 0.15);
    font-weight: bold;
  }

  .page-item.disabled {
    opacity: 0.6;
  }
}

.progress {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.6);
  height: 1.25rem;

  .progress-label {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
  }

  .progress-bar {
    background-color: #5C6E8E;
    color: #eee;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }

  ~ .progress {
    margin-top: 0.25rem;
  }
}

.d-flex.flex-column {
  .progress {
    &:nth-child(even) .progress-bar {
      background-color: #917D54;
    }
  }
}

pre {
  color: #e83e8c;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  white-space: pre-wrap;
}

.search-form {
  input, select, .btn {
    margin-right: 1rem;
    margin-bottom: 0.25rem;
  }

}

.flex-info {
  z-index: 2;
  width: 100%;

  > dt {
    margin-top: 0.5rem;
  }

  > div.d-flex div:not(:last-child) {
    margin-right: 2rem;
  }
}

.category-buttons, .type-buttons {
  button {
    box-shadow: none !important;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.hidden {
  display: none;
}

.alert a {
  color: inherit;
}

.collection:not(.comparing) {
  tr.owned:not(.no-fade) > td {
    opacity: 0.4;
  }

  .card-toggle.owned {
    opacity: 0.4;
  }

  &.only-owned {
    tr.owned > td {
      opacity: 1;
    }
  }
}

table.sortable > thead th:not([data-defaultsort=disabled]) {
  white-space: nowrap;

  &:hover {
    background: none;
    cursor: pointer;
  }

  .sign.arrow {
    position: relative;
    display: inline;
    margin: 0 0 0 0.5rem;

    &.up {
      bottom: 0.5rem;
    }
  }
}

th.name {
  width: 220px;
}

th.category {
  width: 150px;
}

.image-small {
  width: 40px;
  height: 40px;
}

.image-large {
  width: 192px;
  height: 192px;
}

.font-small {
  font-size: 0.8rem;
}

i.delete:hover {
  color: #dc3545;
}

.isearch, .copy-name {
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
  }
}

.mw-fit {
  max-width: fit-content;
}

.no-wrap {
  white-space: nowrap;
}

.card.video {
  margin: 0 auto;
  width: 560px;

  .card-header {
    width: 560px;
  }

  .card-body {
    height: 315px;
    margin: 0;
    padding: 0;
  }
}

.carousel {
  img {
    border-radius: 0.25rem;
  }
}

.active-filters i {
  margin: 0 0.1rem;
}

dd.inline {
  width: fit-content;
}
