img.hairstyle {
  width: 96px;
  height: 96px;
}

img.hairstyle-small {
  width: 48px;
  height: 48px;
}

.hairstyle-list img {
  margin: 0 0.5rem 0.5rem 0;
}

.carousel-hairstyles {
  img {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
  }
}
