.jumbotron {
  background-color: #292929;
}

a.discord {
  background-color: #3D55A0;
}

a.discord:hover {
  background-color: #324682;
}

a.patreon {
  background-color: #DB4534;
}

a.patreon:hover {
  background-color: #BF3C2D;
}

img.discord, img.patreon {
  width: 25px;
  height: 25px;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}
