.orchestrion-select {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  padding: 0.3rem 0.5rem;
}

.collection.quick-select {
  > div.owned {
    opacity: 1.0;
  }

  > div:not(.owned) {
    opacity: 0.4;
  }
}

.orchestrion-name {
  max-width: 400px;
}

.orchestrion-source {
  max-width: 600px;
}

.orchestrion-category {
  max-width: 120px;
}
