.orchestrion-name {
  width: 220px;
}

.orchestrion-category {
  width: 145px;
}

.orchestrion-select {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  padding: 0.3rem 0.5rem;
}
