.relic:not(.owned) {
  opacity: 0.2;
}

.relics-7 .d-flex {
  @media(min-width: 471px) {
    justify-content: space-around !important;
  }
}

.relics-10 .d-flex {
  @media(min-width: 956px) {
    justify-content: space-around !important;
  }
}

.relics-11 .d-flex {
  @media(min-width: 988px) {
    justify-content: space-around !important;
  }
}

.relics-12 .d-flex {
  @media(min-width: 1066px) {
    justify-content: space-around !important;
  }
}

.relics-15 .d-flex {
  @media(max-width: 1208px) {
    justify-content: normal !important;
  }
}

.relics-17 .d-flex {
  @media(max-width: 1320px) {
    justify-content: normal !important;
  }
}

.relics-19 .d-flex {
  @media(max-width: 1435px) {
    justify-content: normal !important;
  }
}

.relics-21 .d-flex {
  @media(max-width: 1545px) {
    justify-content: normal !important;
  }
}

.relics-22 .d-flex {
  @media(max-width: 1600px) {
    justify-content: normal !important;
  }
}
