.relic:not(.owned) {
  opacity: 0.2;
}

.relics-sh .d-flex {
  @media(max-width: 1324px) {
    justify-content: normal !important;
  }
}

.relics-class .d-flex {
  @media(min-width: 475px) {
    justify-content: space-around !important;
  }
}

.relics-tools .d-flex {
  @media(min-width: 992px) {
    justify-content: space-around !important;
  }
}
