.sources {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span.source {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 0.25rem;
    }

    &:before {
      content: "";
      display: inline-block;
      min-width: 32px;
      width: 32px;
      height: 32px;
      background: url(image_path('sources.png')) no-repeat;
      margin-right: 0.5rem;
    }

    &.source-achievement:before { background-position: 0px 0px; }
    &.source-bozja:before { background-position: -32px 0px; }
    &.source-crafting:before { background-position: -64px 0px; }
    &.source-deep-dungeon:before { background-position: -96px 0px; }
    &.source-dungeon:before { background-position: -128px 0px; }
    &.source-eureka:before { background-position: -160px 0px; }
    &.source-event:before { background-position: -192px 0px; }
    &.source-fate:before { background-position: -224px 0px; }
    &.source-gathering:before { background-position: -256px 0px; }
    &.source-gold-saucer:before { background-position: -288px 0px; }
    &.source-hunts:before { background-position: -320px 0px; }
    &.source-island-sanctuary:before { background-position: -352px 0px; }
    &.source-limited:before { background-position: -384px 0px; }
    &.source-other:before { background-position: -416px 0px; }
    &.source-premium:before { background-position: -448px 0px; }
    &.source-purchase:before { background-position: -480px 0px; }
    &.source-pvp:before { background-position: -512px 0px; }
    &.source-quest:before { background-position: -544px 0px; }
    &.source-raid:before { background-position: -576px 0px; }
    &.source-skybuilders:before { background-position: -608px 0px; }
    &.source-trial:before { background-position: -640px 0px; }
    &.source-treasure-hunt:before { background-position: -672px 0px; }
    &.source-tribal:before { background-position: -704px 0px; }
    &.source-ultimate-raid:before { background-position: -736px 0px; }
    &.source-v-c-dungeon:before { background-position: -768px 0px; }
    &.source-venture:before { background-position: -800px 0px; }
    &.source-voyages:before { background-position: -832px 0px; }
    &.source-wondrous-tails:before { background-position: -864px 0px; }
    &.source-npc:before { background-position: -896px 0px; }
    &.source-chaotic-raid:before { background-position: -928px 0px; }
  }
}
