.sources {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span.source {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-top: 0.25rem;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 32px;
      height: 32px;
      min-width: 32px;
      min-height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 0.5rem;
    }

    &.source-achievement:before { background-image: url(image_path('sources/achievement.png')); }
    &.source-bozja:before { background-image: url(image_path('sources/bozja.png')); }
    &.source-crafting:before { background-image: url(image_path('sources/crafting.png')); }
    &.source-deep-dungeon:before { background-image: url(image_path('sources/deep_dungeon.png')); }
    &.source-dungeon:before { background-image: url(image_path('sources/dungeon.png')); }
    &.source-eureka:before { background-image: url(image_path('sources/eureka.png')); }
    &.source-event:before { background-image: url(image_path('sources/event.png')); }
    &.source-fate:before { background-image: url(image_path('sources/fate.png')); }
    &.source-gathering:before { background-image: url(image_path('sources/gathering.png')); }
    &.source-gold-saucer:before { background-image: url(image_path('sources/gold_saucer.png')); }
    &.source-hunts:before { background-image: url(image_path('sources/hunts.png')); }
    &.source-island-sanctuary:before { background-image: url(image_path('sources/island_sanctuary.png')); }
    &.source-other:before { background-image: url(image_path('sources/other.png')); }
    &.source-premium:before { background-image: url(image_path('sources/premium.png')); }
    &.source-purchase:before { background-image: url(image_path('sources/purchase.png')); }
    &.source-pvp:before { background-image: url(image_path('sources/pvp.png')); }
    &.source-quest:before { background-image: url(image_path('sources/quest.png')); }
    &.source-raid:before { background-image: url(image_path('sources/raid.png')); }
    &.source-skybuilders:before { background-image: url(image_path('sources/skybuilders.png')); }
    &.source-trial:before { background-image: url(image_path('sources/trial.png')); }
    &.source-treasure-hunt:before { background-image: url(image_path('sources/treasure_hunt.png')); }
    &.source-tribal:before { background-image: url(image_path('sources/tribal.png')); }
    &.source-ultimate-raid:before { background-image: url(image_path('sources/ultimate_raid.png')); }
    &.source-v-c-dungeon:before { background-image: url(image_path('sources/v_c_dungeon.png')); }
    &.source-venture:before { background-image: url(image_path('sources/venture.png')); }
    &.source-voyages:before { background-image: url(image_path('sources/voyages.png')); }
    &.source-wondrous-tails:before { background-image: url(image_path('sources/wondrous_tails.png')); }
    &.source-npc:before { background-image: url(image_path('sources/npc.png')); }
    &.source-chaotic-raid:before { background-image: url(image_path('sources/chaotic_raid.png')); }
    &.source-cosmic-exploration:before { background-image: url(image_path('sources/cosmic_exploration.png')); }
    &.source-occult-crescent:before { background-image: url(image_path('sources/occult_crescent.png')); }
  }
}
