.contributors {
  h5 {
    margin-bottom: 0.75rem;
  }

  ul {
    margin-bottom: 1rem;
    padding-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 0.5rem;
  }

  img {
    margin-right: 0.5rem;
  }

  .and-you {
    margin-left: 52px;
  }
}
