.contributors {
  h5 {
    margin-bottom: 0.75rem;
  }

  .character {
    margin-bottom: 0.75rem;
    min-width: 210px;
  }

  img {
    margin-right: 0.5rem;
  }

  .and-you {
    margin-left: 52px;
  }
}
