.card-tooltip {
  width: 500px;
  border-radius: 0.5rem;

  ul {
    margin: 0;
    font-weight: bold;

    li {
      margin-bottom: 0.5rem;

      &::before {
        content: "●";
        margin-right: 0.25rem;
      }
    }
  }

  .card-header {
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
  }

  .card-body {
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
  }
}

#collectable-tooltip {
  position: fixed;
  position-anchor: --tooltip; // Set dynamically by JS before rendering
  top: anchor(bottom);
  left: anchor(left);

  // Flip tooltip when reaching the edge of the screen
  position-try-fallbacks: --tooltip-left;

  // Clear native popover styles
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
}

@position-try --tooltip-left {
  left: auto;
  right: anchor(right);
}
