.yokai > a.missing {
  opacity: 0.3;
}

.d-flex.yokai {
  @media(min-width: 1325px) {
    justify-content: space-around;
  }
}

table.yokai {
  th, td {
    text-align: center;
  }

  tr {
    cursor: pointer;

    &.active {
      background-color: rgba(0, 80, 80, 0.2);
    }
  }
}
