<div class="d-flex flex-wrap justify-content-around justify-content-md-start">
  <% @types.each do |type| %>
    <div class="col-12 col-md-6 mb-3">
      <div class="card">
        <h5 class="card-header text-center">
          <%= link_to type.name, achievement_type_path(type), class: 'unstyled' %>
        </h5>
        <div class="card-body py-3">
          <div class="count">
          <%= render 'shared/progress', value: type_count(@achievement_ids, type),
            min: 0, max: type.achievements.size, text: 'complete' %>
          </div>
          <div class="points mt-3">
            <%= render 'shared/progress', value: type_points(@achievement_ids, type),
              min: 0, max: type.achievements.pluck(:points).sum, text: 'points' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
