<% flash.to_hash.except('timedout').each do |key, value| %>
  <div class="alert alert-dismissable fade show <%= flash_class(key) %>">
    <% unless key =~ /fixed/ %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <%= fa_icon 'times' %>
      </button>
    <% end %>
    <%= value.html_safe %>
  </div>
<% end %>
